[submodule "plottingid-blockchain-gui"]
	path = plottingid-blockchain-gui
	url = https://github.com/luzofex/plottingid-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Chia-Network/mozilla-ca.git
